/* Button Styling */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.438);
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden; /* Prevent border overflow */
  border: 1px solid #fff; 
  backdrop-filter: blur(5px) !important; /* Glassmorphism effect */

}


/* Button Styling */
.button:hover {
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.466);
border: 2px solid #fff; 
}


