/* Global Styles */
body {
  background-color: #000000; /* Dark space background */
  font-family: 'Roboto', sans-serif;
  overflow: hidden; /* Prevent scroll due to animation */
  position: relative;
  -webkit-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

/* Stars Background Animation */
#starsCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}


img{
  border: 4px solid rgb(255, 255, 255);
}
ul li img{
  border: 2px solid rgb(255, 255, 255);
  margin-right: 10px;
} 

.main-card-title{
  color: rgb(255, 255, 255) !important;
  background-color: #00000062;
  padding: 8px;

}
/* Responsive Adjustments */
@media (max-width: 576px) {
  .card {
    width: 65%;
    margin: auto;
  }
  .main-card-title{
    color: rgb(255, 255, 255) !important;
    background-color: #00000062;
    padding: 5px 5px !important;
  font-size: 25px;
  border-radius: 10px;
  }

}

