/* Global Styles */
body {
  background-color: #0b0d13; /* Dark space background */
  font-family: 'Roboto', sans-serif;
  overflow: hidden; /* Prevent scroll due to animation */
  position: relative;
  -webkit-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

/* Stars Background Animation */
#starsCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}



/* Responsive Adjustments */
@media (max-width: 576px) {
  .card {
    width: 80%;
    margin: auto;
  }


}
